export(falcon.qc, falcon.output, falconx.qc, convertFalconForIGV, readVCFforCanopy, readVCFDataFrameforCanopy)
import(CODEX, CODEX2, Canopy, falcon, falconx, iCNV, VariantAnnotation)
importFrom("stats", "median", "sd")
